@tailwind base;
@tailwind components;
@tailwind utilities;

ol {
	padding: 0;
	padding-top: 4.1px;
	padding-right: 2rem;
	counter-reset: number;
	list-style: none;
	font-size: 1rem;
}

li {
	color: #90908a;
}

code {
	color: #cfcfc2;
	font-weight: 500;
}

ol li {
	line-height: 22px;
}

ol li:hover {
	color: #c2c2bf;
}

ol li::before {
	box-sizing: border-box;
	counter-increment: number;
	content: counter(number);
}

ul:not(.nav-links) {
	margin-left: 1.65rem;
}

ul li:not(.socials li, .nav-links li)::marker {
	content: "-  ";
	color: #a6e22e;
}

.side-scroll::-webkit-scrollbar {
	display: none;
}

.list {
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
	clip-path: inset(0px -15px 0px 0px);
}

.noborder {
	box-shadow: none;
	clip-path: none;
}


.dashed::after {
	content: "------------------------------";
	letter-spacing: 1px;
	color: #757260;
}
.dashed1::after {
	content: "-------------------------";
	letter-spacing: 1px;
	color: #757260;
}

